#nav-bar{
    display: flex;
    justify-content: space-around;
}

#mid-section{
    display:flex;
    justify-content: center;
}

#add-book-btn{
    display: flex;
    justify-content: center;
}

#footer-section {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}